$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/theme';

#FilterableProductTable {
  padding: 20px;
  margin: 20px;
}

#SearchBar {
  padding: 20px;
  margin: 20px;
}

#ProductTable {
  padding: 20px;
  margin: 20px;
}

.ProductCategoryRow {
  padding: 20px;
  margin: 20px;
}

.ProductRow {
  padding: 20px;
  margin: 20px;
}
